<% content_for :title do %>
  <%= @exhibition.title.html_safe %>
<% end %>

<div class='Exhibition'>
  <%= render 'exhibitions/components/tombstone', exhibition: @exhibition %>
  <%= render 'exhibitions/components/images', exhibition: @exhibition %>
</div>
