<%= content_for :title { @artwork.title.html_safe } %>

<div class='Artwork'>
  <% case @artwork.intent %>
  <% when 'canonical' %>
    <%= render 'artworks/intents/canonical', artwork: @artwork %>
  <% when 'embed' %>
    <%= render 'artworks/intents/embed', artwork: @artwork %>
  <% else %>
    <%= render 'artworks/intents/default', artwork: @artwork %>
  <% end %>
</div>
