<%= render 'common/sidebar', sidebar: @sidebar %>

<div class='artwork'>
  <% case @artwork.intent %>
  <% when 'canonical' %>
    <%= render 'artworks/intents/canonical', artwork: @artwork %>
  <% else %>
    <%= render 'artworks/intents/default', artwork: @artwork %>
  <% end %>
</div>
