<%= render 'common/top_nav' %>

<div class='Websites'>
  <% @urls.each do |url| %>
    <div class='Websites__url'>
      <%= link_to prettify_url(url), url, target: '_blank' %>
    </div>
  <% end %>
</div>
