<p>
  POPULAR SUBSCRIPTION TO THE MEMORY OF DOT COM
</p>

<form action='//damonzucconi.us10.list-manage.com/subscribe/post?u=70514bcb9018b1c17643e3cad&amp;id=e19d56df5e' method='post' target='_blank' novalidate>
  <input type='email' value='' name='EMAIL' placeholder='Your Email?' required>

  <div style='position: absolute; left: -5000px;'>
    <input type='text' name='b_70514bcb9018b1c17643e3cad_e19d56df5e' tabindex='-1' value=''>
  </div>

  <input type='submit' value='Subscribe' name='subscribe'>
</form>
