<%= render 'common/sidebar', sidebar: @sidebar %>

<div class='page'>
  <div class='page__canonical'>
    <iframe src='http://www.popular-subscription-to-the-memory-of.com/damon' title='Popular Subscription to the Memory Of'></iframe>
  </div>
</div>
