<%= render 'common/sidebar', sidebar: @sidebar %>

<div class='Page'>
  <div class='Page__canonical'>
    <iframe src='http://www.popular-subscription-to-the-memory-of.com/damon' title='Popular Subscription to the Memory Of'></iframe>
  </div>
</div>
