<% if artwork.attachments.size > 0 %>
  <div class='ArtworkAttachments'>
    <% artwork.attachments.each do |attachment| %>
      <%= link_to attachment.title || "Download #{attachment.kind}", attachment.url, target: '_blank' %>
    <% end %>
  </div>
<% end %>
