<% if artwork.images.size.positive? %>
  <div class='Images'>
    <% artwork.images.each do |image| %>
      <%= render 'common/picture',
        image: image, title: "Damon Zucconi, #{artwork.title}, #{artwork.year}" %>
    <% end %>
  </div>
<% end %>
