@import 'common'

$additionalInfo: (dot_size: 2px, toggle_width: scale(3), toggle_height: scale(3))

.AdditionalInfo
  position: relative

  &__toggle
    display: block
    position: relative
    background-color: white
    cursor: pointer
    user-select: none
    width: map-get($additionalInfo, 'toggle_width')
    height: map-get($additionalInfo, 'toggle_height')
    z-index: z('sidebar')

    > span
      width: map-get($additionalInfo, 'dot_size')
      height: map-get($additionalInfo, 'dot_size')
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      &,
      &:before,
      &:after
        display: block
        position: absolute
        background-color: black

      &:before,
      &:after
        content: ''
        width: map-get($additionalInfo, 'dot_size')
        height: 100%

      &:before
        right: map-get($additionalInfo, 'dot_size') * 2

      &:after
        left: map-get($additionalInfo, 'dot_size') * 2

    &:hover > span
      &,
      &:before,
      &:after
        background-color: gray

  &__dropdown
    display: none
    position: absolute
    top: 0
    right: 0
    width: scale(6) + map-get($additionalInfo, 'toggle_width')
    padding: 0 scale(1)
    background-color: white

    // Overrides to tombstone component
    .ArtworkTombstone
      margin: 0
      padding: scale(1) map-get($additionalInfo, 'toggle_width') scale(1) scale(1)
      text-align: left

      &__title
        font-size: size(1)
        margin: 0

      &__description
        +collapsed-margins(scale(1))

  &--open
    .AdditionalInfo__toggle
      background-color: black

      > span
        &,
        &:before,
        &:after
          background-color: white

    .AdditionalInfo__dropdown
      display: block

  +mobile()
    &__dropdown
      top: map-get($additionalInfo, 'toggle_height')
      right: -(map-get($additionalInfo, 'toggle_width'))

      .ArtworkTombstone
        padding: scale(1)
