@import 'common'

.Artworks
  text-align: center

  &__artwork
    display: inline-block
    margin: scale(2)

    &__image,
    &__text
      display: inline-block
      vertical-align: middle
      font-size: size(1)
