@import 'common'

.artwork
  &__tombstone
    width: 100%
    margin: nth($scale, 3) auto
    padding: 0 nth($scale, 3)
    text-align: center

    &__title
      font-size: nth($sizes, 2)

    &__year,
    &__material,
    &__dimensions,
    &__duration,
    &__description
      font-size: nth($sizes, 1)

    &__description
      margin: 0 auto
      max-width: nth($scale, 7)
