@import 'common'

.Index
  width: 100%

  > thead
    > tr
      > th
        padding: scale(1)
        text-decoration: underline

  > tbody
    > tr
      &:hover
        text-decoration: underline

      > td
        padding: 0 scale(1)

        > a
          display: block
