@import 'common'

.sidebar
  position: fixed
  top: nth($scale, 1)
  bottom: nth($scale, 1)
  right: nth($scale, 1)
  width: nth($scale, 1) * 18
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  background-color: black
  text-align: center

  a,
  span
    display: block
    color: darken(white, 50%)
    padding: nth($scale, 1)
