<div class='ArtworkCanonical'>
  <a class='ArtworkCanonical__toggle'></a>

  <div class='ArtworkCanonical__dropdown'>
    <%= render 'artworks/components/tombstone', artwork: artwork %>
  </div>

  <iframe src='<%= artwork.src %>' title='<%= artwork.title %>'></iframe>
</div>
