<div class='ArtworkCanonical'>
    <a
      href='<%= artwork.src %>'
      target='_blank'
    >
      Click here if new tab doesn’t open automatically
    </a>

  <script>
      const newTab = window.open('<%= artwork.src.html_safe %>', '_blank')
      newTab.focus();
  </script>
</div>

<%= render 'artworks/components/tombstone', artwork: artwork %>
