@import 'common'

html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  background-color: white
  color: black
  font-family: $fontFamily
  font-size: size(2)
  line-height: $lineHeight

a,
a:visited
  text-decoration: none
  color: inherit

  &:hover
    //

p,
ul,
section,
blockquote,
cite,
h1,
h2,
h3,
form
  +collapsed-margins(scale(2))

img
  display: inline-block
  max-width: 100%
  vertical-align: bottom
  background-color: lighten(black, 95%)

object,
iframe
  border: none
  max-width: 100%
  vertical-align: bottom

i,
em
  font-style: italic

b,
strong
  font-weight: bold

input
  appearance: none
  +collapsed-margins(scale(1), scale(1))
  padding: scale(1) scale(2)
  border: 1px solid gray
  background-color: white
  color: black
  font-family: $fontFamily
  font-size: size(2)
  line-height: $lineHeight
  border-radius: 0

  +mobile()
    display: block
    width: 100%
    +collapsed-margins(scale(1))
