<h1>
  <%= nav_link 'Not Everything', :root %>
</h1>
<%= nav_link 'Mostly Everything', artworks_path %>
<%= nav_link 'Only Websites', websites_artworks_path %>
<%= nav_link 'Other Information', information_path %>
