<div class='Sidebar'>
  <a class='Sidebar__toggle'>
    <span></span>
  </a>

  <div class='Sidebar__menu'>
    <%= render 'common/nav' %>

    <hr>

    <% sidebar.each do |artwork| %>
      <%= nav_link artwork.title, artwork_path(artwork.slug) %>
    <% end %>
  </div>
</div>
