<div class='sidebar'>
  <a class='sidebar__toggle'>
    <span></span>
  </a>

  <div class='sidebar__menu'>
    <%= render 'common/nav' %>

    <hr>

    <% sidebar.each do |artwork| %>
      <%= nav_link artwork.title, artwork_path(artwork.slug) %>
    <% end %>
  </div>
</div>
